logs
*.log
build
dist
docs
node_modules
test
.editorconfig
.env.example
.env.development
.env.production
.eslintrc
.eslintignore
.gitignore
.nvmrc
.prettierrc
.prettierignore
docker-compose.yml
dockerfile
nodemon.json
yarn.lock
jest.config.js