root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Ignore paths
[/cache/**]
insert_final_newline = false

# Ignore paths
[/public/**]
insert_final_newline = false
