{
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "settings": {
    "jest": {
      "version": 26
    }
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "plugins": ["prettier", "jest"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "document": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "off",
    "array-callback-return": "off",
    "no-param-reassign": "off",
    "camelcase": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-console": "off",
    "no-throw-literal": "off",
    "jest/expect-expect": "off",
    "import/prefer-default-export": "off"
  }
}
